@{
    ViewData["Title"] = "Citas Clinicas";
}


<div class="col-sm-12 col-md-12">
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Citas</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-success" id="btn-new-category" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon glyphicon-plus"></span> Agregar una cita</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12" id="container-category">
                        <table class="table table-bordered" id="cita-table">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Doctores</th>
                                    <th>Paciente</th>
                                    <th>Cita Para</th>
                                    <th>Estado</th>
                                    <th>Diagnóstico</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Cita</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Description">Description</label>
                        <input type="text" class="form-control" id="Description" placeholder="Description" name="Description">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ID_VI">Voluntary/Involuntary</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>